<div *ngIf="personas">
  <div *ngFor="let persona of personas.result">
    <p> {{persona.username}}</p>
  </div>
</div>


<p-table [value]="personas.result" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
      <tr>
          <th>Id_user</th>
          <th>Username</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Rol</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-persona>
      <tr>
          <td>{{persona.id_user}}</td>
          <td>{{persona.username}}</td>
          <td>{{persona.nombre}}</td>
          <td>{{persona.apellido}}</td>
          <td>{{persona.email}}</td>
          <td>{{persona.rol}}</td>
      </tr>
  </ng-template>
</p-table>
